
@{
    ViewBag.Title = "CourseModule";

}

<div ng-controller="courseController">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Course Module</li>
        </ol>
        <form id="myform" class="form-horizontal">
            <div class="row">
                <div class="col-12">

                    <H1 style="color:#868e96; font-weight:bold;">Course Module</H1>
                    <br />
                    <label> COURSE NAME: </label>

                    <select  id="selectedCourses" ng-model="selectedCourses" class="selectpicker col-3">



                        <option ng-repeat="x in getAllCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                    </select>
                    <br />


                    <div class="widget-box">
                        <div class="widget-title">

                            <h5>MODULE NAME</h5>
                        </div>
                        <div class="widget-content nopadding">


                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedModules" id="selectedModules" multiple>
                                        <option ng-repeat="x in getAllModules" value="{{x.ModuleId}}">{{x.ModuleName}}</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="InsertCourseModule()" value="SAVE" class="btn btn-success">

                            </div>
                            <br />
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>


                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> Corse-Module </span> Table
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered table-striped" cellspacing="0">
                                            <thead class="table-info">
                                                <tr>
                                                    @*<th>COURSE ID</th>*@
                                                    <th>COURSE NAME</th>
                                                    @*<th>MODULE ID</th>*@
                                                    <th>MODULE NAME</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in getAllCourseModules | filter:query | orderBy:['CourseName','orderProp']  ">

                                                    @*<td>{{x.CourseId}}</td>*@
                                                    <td>{{x.CourseName}}</td>
                                                    @*<td>{{x.GetModuleId}}</td>*@
                                                    <td>{{x.ModuleName}}</td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                     


                      

                    </div>
                </div>

            </div>
        </form>
    </div>

</div>


   




