
@{
    ViewBag.Title = "CourseModule";

}


    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Course Module</li>
        </ol>


        <form ng-show="isAdmin"  id="myform" class="form-horizontal">
            <div class="row">
                <div class="col-12">

                    <H1 style="color:rgb(53, 53, 53); font-weight:bold;">Course Module</H1>
                    <br />
                    <label> COURSE NAME: </label>

                    <select  id="selectedCourses" ng-model="selectedCourses" class="selectpicker col-3">



                        <option ng-repeat="x in getAllCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                    </select>
                    <br />


                    <div class="widget-box">
                        <div class="widget-title">

                            <h5>MODULE NAME</h5>
                        </div>
                        <div class="widget-content nopadding">


                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedModules" id="selectedModules" multiple>
                                        <option ng-repeat="x in getAllModules" value="{{x.ModuleId}}">{{x.ModuleName}}</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="InsertCourseModule()" value="SAVE" class="btn btn-success">

                            </div>
                            <br />
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>


                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> Corse-Module </span> Table
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered table-striped" cellspacing="0">
                                            <thead class="table-info">
                                                <tr>
                                                    @*<th>COURSE ID</th>*@
                                                    <th>COURSE NAME</th>
                                                    @*<th>MODULE ID</th>*@
                                                    <th>MODULE NAME</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in getAllCourseModules | filter:query | orderBy:['CourseName','orderProp']  ">

                                                    @*<td>{{x.CourseId}}</td>*@
                                                    <td>{{x.CourseName}}</td>
                                                    @*<td>{{x.GetModuleId}}</td>*@
                                                    <td>{{x.ModuleName}}</td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                     


                      

                    </div>
                </div>

            </div>
        </form>

        <form  ng-show="isTeacher" id="myform" class="form-horizontal">
            <div class="row">
                <div class="col-12">

                    <H1 style="color:rgb(53, 53, 53); font-weight:bold;">Course Module</H1>
                    <br />
                    <label> COURSE NAME: </label>

                    <select id="selectedTeacherCourses" ng-model="selectedTeacherCourses" class="selectpicker col-3">



                        <option ng-repeat="x in getAllSingleTeachersCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                    </select>
                   
                    <div class="form-group col-3">
                        <label>Module Name</label>
                        <input type="text" required ng-model="TModuleName" class="form-control" placeholder="MODULE NAME">
                    </div>

                    <div class="widget-box">
                      
                        <div class="widget-content nopadding">


                            @*<div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedModules" id="selectedModules" multiple>
                                        <option ng-repeat="x in getAllModules" value="{{x.ModuleId}}">{{x.ModuleName}}</option>

                                    </select>
                                </div>
                            </div>*@

                          
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="InsertCourseModuleForTeacher()" value="SAVE" class="btn btn-success">

                            </div>
                            <br />
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>


                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> Corse-Module </span> Table
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered table-striped" cellspacing="0">
                                            <thead class="table-info">
                                                <tr>
                                                    @*<th>COURSE ID</th>*@
                                                    <th>COURSE NAME</th>
                                                    @*<th>MODULE ID</th>*@
                                                    <th>MODULE NAME</th>
                                                    <th>VIEW CONTENT</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in getAllCourseModulesForTeacher | filter:query | orderBy:['CourseName','orderProp']  ">

                                                    @*<td>{{x.CourseId}}</td>*@
                                                    <td>{{x.CourseName}}</td>
                                                    @*<td>{{x.GetModuleId}}</td>*@
                                                    <td>{{x.ModuleName}}</td>
                                                    <td><a href="" ng-click="ShowContent(x.CourseName,x.ModuleName,x.GetModuleId)" >View Content</a></td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>






                    </div>
                </div>

            </div>
        </form>

        <script type="text/ng-template" id="ShowContent.html">

            <div class="modal-header">

                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <a class="btn btn-info" href="" ng-click="uploadContent()">Upload</a>
                <div style="margin-left:20px;" class="card-block">
                    <br />
                    <span ng-repeat="x in GetModuleContentDropboxApi" ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'"><a style="text-decoration:none;color:black;font-size:large" href="" ng-click="fileClick($event,x.path_display,x1.CourseName,x1.ModuleName,x1.ModuleId,x1.CourseId)"><i class="fa fa-file-pdf-o" aria-hidden="true" style="color:red;font-size:x-large"></i>&nbsp;  {{x.name}}</a> &nbsp; sss<span ng-repeat="x3 in GetContent" ng-if="x3.DropboxId == x.id"><i class="fa fa-check" aria-hidden="true" style="color:green;font-size:x-large"></i></span><br /> <br /></span>

                    <span ng-repeat="x in GetModuleContentDropboxApi" ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' "><a style="text-decoration:none;color:black;font-size:large" href="" ng-click="videoClick($event,x.path_display,x1.CourseName,x1.ModuleName,x1.ModuleId,x1.CourseId)"><i class="fa fa-play-circle-o" aria-hidden="true" style="color:grey;font-size:x-large"></i>&nbsp;   {{x.name}}</a> &nbsp; ss<span ng-repeat="x3 in GetContent" ng-if="x3.DropboxId == x.id"><i class="fa fa-check" aria-hidden="true" style="color:green;font-size:x-large"></i></span><br /> <br /></span>
                    

                    @*<span *ngIf="false; then login">sfsf</span>*@
                    <ng-template #login><span><a routerLink="/logout">Logout</a></span></ng-template>
                    <ng-template #loginhj><span><a routerLink="/logout">Logout</a></span></ng-template>


                    <br /><br />
                </div>
            
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </script>


        <script type="text/ng-template" id="UploadContent.html">

            <div class="modal-header">

                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
           
                <div style="margin-left:20px;" class="card-block">
                  
                </div>

            </div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </script>


    </div>




   




