@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity


<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home/Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
    </ol>
    <!-- Icon Cards-->

    @if (Request.IsAuthenticated)
    {
        <input type="hidden" id="UserName" value="@User.Identity.GetUserName()">
        <div ng-controller="courseController">

            @*<video controls="controls" height="480" width="640">
                    <source src="https://dl.dropboxusercontent.com/content_link/K30mptXJTiyxnRKtQjgvgZTSXpVXoDM8wAprimiuwTd0XnZ1MWIgfM1RSyewnbCD/file?dl=1"  type="video/mp4"/>
                </video>

            <iframe src="https://dl.dropboxusercontent.com/content_link/K30mptXJTiyxnRKtQjgvgZTSXpVXoDM8wAprimiuwTd0XnZ1MWIgfM1RSyewnbCD/file?dl=1">
                    <p>Your browser does not support iframes.</p>
                </iframe>*@
            <!--style = "display: none;" -->
            <h1 style="color:#868e96; font-weight:bold;"> Islamic Learning Foundation Courses</h1>


            <p class="lead">Welcome {{UserName}} to the ILF LEARNING platform </p>
            <p>You are enrolled in the following courses...</p>

            <ul>
                <li ng-repeat="x in GetAllSingleUserCourses"><a href="~/Home/Modules/{{x.CourseID}}"  ng-click="" > {{x.CourseName}}</a></li>
            </ul>
           

        </div>
    }

    else
    {

        <h1>You need to be logged in to View your courses</h1>
    }
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->


