@{
    ViewBag.Title = "Home Page";
    
}

@using Microsoft.AspNet.Identity

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">ILF COURSES</li>
        </ol>

        <div class="row">
            <div class="col-12">
                @if (Request.IsAuthenticated)
                {
                    <input type="hidden" id="UserName" value="@User.Identity.GetUserName()">
                    <div ng-controller="courseController">



                        <!--style = "display: none;" -->
                        <h1>Islamic Learning Foundation Courses</h1>


                        <p class="lead">Welcome {{UserName}} to the ILF Learning platform </p>
                        <p>You are enrolled in the following courses...</p>
                    </div>
                }

                else
                {

                    <h1>You need to be logged in to View your courses</h1>
                }



                </div>
            </div>
        </div>
    </div>
