@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity

<div class="container-fluid">
    
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>
        <!-- Icon Cards-->
   
        @if (Request.IsAuthenticated)
        {
            <input type="hidden" id="UserName" value="@User.Identity.GetUserName()">
           

                @*<video controls="controls" height="480" width="640">
                            <source src="https://dl.dropboxusercontent.com/content_link/K30mptXJTiyxnRKtQjgvgZTSXpVXoDM8wAprimiuwTd0XnZ1MWIgfM1RSyewnbCD/file?dl=1"  type="video/mp4"/>
                        </video>

                    <iframe src="https://dl.dropboxusercontent.com/content_link/K30mptXJTiyxnRKtQjgvgZTSXpVXoDM8wAprimiuwTd0XnZ1MWIgfM1RSyewnbCD/file?dl=1">
                            <p>Your browser does not support iframes.</p>
                        </iframe>*@
                <!--style = "display: none;" -->
              
                <p  ng-show="isStudent" class="lead" style="font-size:27px; font-weight:normal;color:black">
               You Are Enrolled In The Following Courses...</p>

             
         <span  ng-show="isStudent" style="font-size:x-large; font-weight:300; font-family:Gill-Sans, Arial, sans-serif" ng-repeat="x in GetAllSingleUserCourses"><a style="color:black;" href="~/Home/Modules/{{x.CourseID}}" ng-click=""> <i class="fa fa-book" aria-hidden="true" style="color:grey;font-size:xx-large"></i> {{x.CourseName}}<br /></a></span>


        <p ng-show="isTeacher" class="lead" style="font-size:27px; font-weight:normal;color:black">
            You Are Enrolled In The Following Courses...
        </p>
        @*<span ng-show="isTeacher" style="font-size:x-large; font-weight:300; font-family:Gill-Sans, Arial, sans-serif" ng-repeat="x in getAllSingleTeachersCourses"><a style="color:black;" href="{{x.CourseID}}" ng-click=""> <i class="fa fa-book" aria-hidden="true" style="color:grey;font-size:xx-large"></i> {{x.CourseName}}<br /></a></span>*@



                <div ng-show="isAdmin" class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> Students </span> Enrolled
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-sm ">
                            <table class="table table-striped table-bordered" cellspacing="0">
                                <thead class="table-dark">
                                    <tr>
                                        <th>STUDENT USERNAME</th>
                                        <th>COURSE NAME</th>
                                        <th>CURRENT MODULE NAME</th>
                                        <th>MODULE %</th>
                                        <th>EXAM</th>
                                        <th>RESULT</th>
                                        <th>COURSE %</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in getAllEnrolledStudents">


                                        <td>{{x.Username}}</td>
                                        <td>{{x.CourseName}}</td>
                                        <td>{{x.CurrentModuleName}}</td>
                                        <td>{{x.ModulePer}}</td>
                                        <td>{{x.Exam}}</td>
                                        <td>{{x.Result}}</td>
                                        <td>{{x.CoursePer}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            


        }

        else
        {

            <h1>You need to be logged in to View your courses</h1>
        }


       
    <div ng-show="isTeacher" id="accordion" role="tablist" aria-multiselectable="true">
        <div ng-repeat="x1 in getAllSingleTeachersCourses" class="card">
            <div class="card-header" role="tab" id="xyz{{abc = $index + 1}}">
                <h5 class="mb-0">
                    <a style="color:black" data-toggle="collapse" data-parent="#accordion" ng-click="getEnrolledCoursesStudents(x1.CourseID)" href="#xyz1{{abc = $index + 1}}" aria-expanded="true" aria-controls="collapseOne ">
                        <span class="fa fa-plus-square alert-primary" style="float:right"></span>
                        {{x1.CourseName}}
                    </a>



                </h5>
            </div>
            <div id="xyz1{{abc = $index + 1}}" style="" class="collapse " role="tabpanel" aria-labelledby="headingOne">
                <br />
                <div  class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> Students </span> Progress
                    </div>
                    <br />
                    <div class="card-body">
                        <div class="table-responsive table-sm ">
                            <table class="table table-bordered table-striped" cellspacing="0">
                                <thead class="table-info">
                                    <tr>
                                        <th>STUDENT USERNAME</th>
                                        <th>CURRENT MODULE NAME</th>
                                        <th>MODULE %</th>
                                        <th>COURSE %</th>
                                        <th>EXAM</th>
                                        <th>RESULT</th>
                                        <th>VIEW RESULT</th>
                                        <th>COMMENTS</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in getAllEnrolledCoursesStudents">


                                        <td>{{x.Username}}</td>
                                        <td>{{x.CurrentModuleName}}</td>
                                        <td>{{x.ModulePer}}</td>
                                        <td>{{x.CoursePer}}</td>
                                        <td>{{x.Exam}}</td>
                                        <td>{{x.Result}}</td> 
                                        <td><a ng-show="x.ExamId != 0" ng-click="ViewStudentExam(x.ExamId,x.ExamName,x.Username,x.Result,x.Comments,x.ResultId,x1.CourseID)" href="">View Result</a></td>
                                        <td><span ng-if="x.CheckComments == 1 && (x.Comments !== '')"><i style="color:lawngreen" class="fa fa-check"></i></span><span ng-if="(x.CheckComments == 0 || x.CheckComments == 1 )  && (x.Comments === '' || x.Comments === null )">--</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="viewStudentExam.html">

        <div class="modal-header">

            <h4 class="modal-title">{{modalTitle}}</h4> <span>{{RightCount}}</span> <span>{{WrongCount}}</span>
        </div>
        <div class="modal-body">

            <div class="alert alert-danger alert-block" ng-show="isError">
                <h6 class="alert-heading">{{errormessage}}</h6>
            </div>
            <ul style="list-style:none;" class="col col-md-12">
               
                <li ng-repeat="x1 in ViewQuestionAndAnswers.Questions" >
                    
                    <h2 style="font-size: large;font-weight:bold; color:black;">Q#:{{abc = $index + 1}} &nbsp; {{x1.Question}} &nbsp;  &nbsp; <span style="color:lightslategrey; font-weight:bold ; font-size:large;" ng-if="x1.AnswerType === '2' ">(Multiple)</span><span style="color:lightslategrey; font-weight:bold ; font-size:large;" ng-if="x1.AnswerType === '1' ">(Single)</span>  </h2>

                 

                    <ul ng-repeat="x in ViewQuestionAndAnswers.Answers">


                        <li ng-if="x1.QuesId === x.QuesId"> <span style="" ng-if="x.CorrectAnswer === false">{{x.AnswerText}} </span><span style="color:green" ng-if="x.CorrectAnswer === true" >{{x.AnswerText}} </span> @*&nbsp; <i ng-if="x.CorrectAnswer === true" class="fa fa-check-square-o" style="font-size:large;color:green;"></i>*@   &nbsp; <i ng-if="x.UserAnswer	 === true" class="fa fa-check-square-o" style="font-size:large;color:cornflowerblue;"></i></li>



                    </ul>
                    <p style="color:green" ng-if="checkAns[$index] === 'Correct Answer!'">{{checkAns[$index]}}</p>
                    <p style="color:red" ng-if="checkAns[$index] === 'Wrong Answer!'">{{checkAns[$index]}}</p>

                    <hr />
                    <br />

                </li>

            </ul>

            <form ng-show="comm">
                <textarea ng-model="comments" class="form-control" placeholder="Add Comment" style="width:100%" ></textarea>
                <br />
                @*<a href="" ng-click="" class="btn btn-success">Save</a>*@
            </form>


        </div>
        <div class="modal-footer">
            @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
            <button class="btn btn-success" type="button" ng-click="UpdateComment()">Save</button>
        </div>

    </script>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->


