
@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="courseController">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Module</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1 style="color:#868e96; font-weight:bold;">MODULES</h1>
                <form id="myform">
                    <div class="form-group col-3">
                        <label>Module Name</label>
                        <input type="text" ng-model="ModuleName" class="form-control" placeholder="MODULE NAME" >
                    </div>
                    <button type="submit" ng-click="AddModules()"  class="btn btn-success">SUBMIT</button>
                </form>
                <br />
                <div class="alert alert-success alert-block" ng-show="isSuccess">

                    <h6 class="alert-heading">{{successMessage}}</h6>
                </div>
                <div class="alert alert-danger alert-block" ng-show="isError">
                    <h6 class="alert-heading">{{errormessage}}</h6>
                </div>


                <!-- Example DataTables Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> Modules </span> Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-sm">
                            <table class="table table-bordered table-striped" cellspacing="0">
                                <thead class="table-info">
                                    <tr>
                                        <th>MODULE NAME</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>


                                       
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>

                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>

                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

</div>


