
@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/Course_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/newIndex">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Module</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>MODULES</h1>
                <form id="myform">
                    <div class="form-group col-3">
                        <label>Module Name</label>
                        <input type="text" class="form-control"  placeholder="MODULE NAME" required>
                    </div>
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>



