
@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="courseController">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Module</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>MODULES</h1>
                <form id="myform">
                    <div class="form-group col-3">
                        <label>Module Name</label>
                        <input type="text" ng-model="ModuleName" class="form-control" placeholder="MODULE NAME" >
                    </div>
                    <button type="submit" ng-click="AddModules()"  class="btn btn-success">SUBMIT</button>
                </form>
                <br />
                <div class="alert alert-success alert-block" ng-show="isSuccess">

                    <h6 class="alert-heading">{{successMessage}}</h6>
                </div>
                <div class="alert alert-danger alert-block" ng-show="isError">
                    <h6 class="alert-heading">{{errormessage}}</h6>
                </div>
            </div>
        </div>
    </div>

</div>


