
@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>*@


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<input type="hidden" id="coursid" value="@ViewBag.CourseId">
<div ng-controller="courseController">
    
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Courses</a>
            </li>
            <li class="breadcrumb-item active">Course Modules</li>
        </ol>


        <ul>
            <li  ng-repeat="x in GetAllSingleUserCourseModules"><a id="xyz{{abc = $index + 1}}" href="" ng-click="ShowContentModules(x.CourseName,x.ModuleName,'abc'+abc)"> {{x.ModuleName}}</a>
          
          
                <ul style="display:none" id="abc{{abc}}" >
                   
                   <li ng-repeat="x in GetModuleContentDropboxApi" ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'"><a href="" ng-click="fileClick($event,x.path_display)"> {{x.name}}</a></li>
                    <li ng-repeat="x in GetModuleContentDropboxApi" ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' "><a href="" ng-click="videoClick($event,x.path_display)"> {{x.name}}</a></li>


                </ul>
            
            </li>
       
        </ul>

        <br />
        <br />

        <a href="" ng-click="StartExam()" class="btn btn-success">Start Exam</a>


        @*<ul style="display:none" id="abc">

            <li ng-repeat="x in GetModuleContentDropboxApi" ng-show="x.name.split('.').pop() != 'mp4' && x.name.split('.').pop() == 'pdf'"><a href="" ng-click="fileClick($event,x.path_display)"> {{x.name}}</a></li>
            <li ng-repeat="x in GetModuleContentDropboxApi" ng-show="x.name.split('.').pop() == 'mp4'"><a href="" ng-click="videoClick($event,x.path_display)"> {{x.name}}</a></li>


        </ul>*@
      

        @*<ul>
            <li ng-show="x.name.split('.').pop() != 'mp4' && x.name.split('.').pop() == 'pdf'" ng-repeat="x in GetModuleContentDropboxApi"><a href=" https://dl.dropboxusercontent.com/apitl/1/AAA2DUJRPnX9Q1dBVwvAJjgKfiECeRHKuZgzJ3MNZ7RObKOE1EL9rsbziYnLiVhofSMGR3cFZ5v6bQu3oRYVRij0mhTd_ArBq2mv9Eyjx7trDGOWoGSNuj5IQbcU9fDa5PhdBY0Rlw0HaakWMyg7t_zoapmHz1Whw-xypv4VXl1CqpBHjRZR2mjpaFsxVJxzyUmID17svevzboHFSpkX51nrQqsH-xmSxEBMvCL9OwSCSSIiMor2jD0p0mm9kSfKRj0-b1R8UXnj7sLZyV0A4PmQVMX4D7KpxKrxCrPODNdv1RgN7PLcZDc4bLtuINY1Wep0AcA9AwMSR_S6Sz73Lkan"  ng-click=""> {{x.name}}</a></li>
            <li ng-show="x.name.split('.').pop() == 'mp4'" ng-repeat="x in GetModuleContentDropboxApi"><a href="" ng-click="videoClick($event,x.path_display)"> {{x.name}}</a></li>
        </ul>*@

   

        @*<div ng-repeat="x in GetModuleContentDropboxApi">

           <ul>
            <li><a href="{{x.link}}" ng-click=""> {{x.name.split(".").pop()}}</a></li>
           </ul>

            <div ng-if="x.name.split('.').pop() == 'mp4'">

                {{x.name}}

            <video></video>

            </div>

        </div>*@


        @*<div ng-controller="videocontroller">


            <div>
                <h3><b>Video Segment</b></h3>
            </div>

            <div ng-show="videoSources.length">
                <video width=176 height=99 style="margin-left: 70px; margin-right: 10px;"
                       ng-repeat="videoSource in videoSources " ng-src="{{videoSource | trustUrl}}"
                       ng-click="videoClick($event, videoSource)"></video>

                <a ng-click="videoClick($event, videoSource)" ng-repeat="videoSource in videoSources">yugdsfgtfu</a>
            </div>
            <div ng-hide="videoSources.length">
                <a href="#" ng-click='loadVideos()'>Load videos</a>
            </div>



        </div>*@

        
        @*<div ng-repeat="x in GetAllSingleUserCourseModules" >

            <a class="accordion">Section 1</a>


            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>*@
        @*<iframe src="https://www.dropbox.com/s/wqjhjxyl4xqzzs7/PDF.js%20viewer.pdf?dl=0" height="100" width="100"></iframe>*@
   
      
        <script type="text/ng-template" id="myModal.html">
            <div id="my-modal-{{id}}" click-outside="cancel()">
                <div class="modal-header">
                    <h3 class="modal-title">{{title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <video style="width:100%;height:100%;" controls autoplay ng-src="{{videoSource | trustUrl}}"></video>
                    </div>

                    @*<iframe  style="width:100%;height:100%;" ng-src="{{videoSource | trustUrl}}" ></iframe>*@
                    <pre>src = {{videoSource | trustUrl}}</pre>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </script>


        <script type="text/ng-template" id="StartExam.html">

            <div class="modal-header">

                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger alert-block" ng-show="isError">
                    <h6 class="alert-heading">{{errormessage}}</h6>
                </div>
                <ul style="list-style:none;" class="col col-md-12">
                    <li ng-repeat="x1 in ViewQuestionAndAnswers.Questions">
                        <h2 style="font-size: large;font-weight:bold; color:black;">Q#:{{abc = $index + 1}} &nbsp; {{x1.Question}} &nbsp;  &nbsp; <span style="color:lightslategrey; font-weight:bold ; font-size:large;" ng-if="x1.AnswerType === '2' ">(Multiple)</span><span style="color:lightslategrey; font-weight:bold ; font-size:large;" ng-if="x1.AnswerType === '1' ">(Single)</span>  </h2>


                        @*<ul ng-repeat="x in ViewQuestionAndAnswers.Answers">


                            <li ng-if="x1.QuesId === x.QuesId"> {{x.AnswerText}}  &nbsp; <i ng-if="x.CorrectAnswer === true" class="fa fa-check-square-o" style="font-size:large;color:green;"></i> </li>

                           

                        </ul>*@

                        <div ng-repeat="x in ViewQuestionAndAnswers.Answers">

                            <label ng-if="x1.AnswerType === '2' " ><input type="checkbox" value="" /> &nbsp; {{x.AnswerText}}</label>
                            <label ng-if="x1.AnswerType === '1' "><input type="radio" name="radiobtn" value="" /> &nbsp; {{x.AnswerText}}</label>
                        </div>

                        <br />

                    </li>

                </ul>



            </div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </script>

    </div>
</div>



@*<script>
    $(function () {
        $('li').has('ul').click(function (event) {
            if (this == event.target) {
                $(this).toggleClass('open');
                $(this).children('ul').toggle();
                if ($(this).siblings().hasClass('open')) {
                    $(this).siblings().addClass('closed').removeClass('open').children('ul').hide();
                }
            }
        }).addClass('closed').children('ul').hide();
    });

</script>*@

