
@{
    ViewBag.Title = "UserCourses";

}


<div ng-controller="courseController">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">User Course </li>
        </ol>

        <div class="row">
            <div class="col-12">

                <H1 style="color:#868e96; font-weight:bold;">User Courses</H1>
                <br />
                <label> STUDENTS NAME: </label>
                <select id="selectedCourses" ng-model="selectedStudents" class="selectpicker col-3">



                    <option ng-repeat="x in getAllStudents" value="">{{x.Username}}</option>


                </select>
                <br />


                <div class="widget-box">
                    <div class="widget-title">

                        <h5 >COURSE NAME</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form id="myform" action="#" class="form-horizontal">

                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedCourses" id="selectedCourses" multiple>
                                        <option ng-repeat="x in getAllCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <input type="submit" value="SAVE" class="btn btn-success">

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



   




