
@{
    ViewBag.Title = "UserCourses";

}



<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home/newIndex">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">User Course </li>
    </ol>

    <div class="row">
        <div class="col-12">

            <H1>User Courses</H1>
            <br />
            <label> STUDENTS NAME: </label>
            <select class="selectpicker col-3">

                <optgroup label="*Student Name*">
                    <option>Student 1</option>
                    <option>Student 2</option>
                    <option>Student 3</option>
                    <option>Student 4</option>
                    <option>Student 5</option>
                    <option>Student 6</option>
                    <option>Student 7</option>
                    <option>Student 8</option>
                    <option>Student 9</option>
                    <option>Student 10</option>
                    <option>Student 11</option>
                    <option>Student 12</option>
                    <option>Student 13</option>

                </optgroup>
            </select>
            <br />


            <div class="widget-box">
                <div class="widget-title">

                    <h5>COURSE NAME</h5>
                </div>
                <div class="widget-content nopadding">
                    <form id="myform" action="#" class="form-horizontal">

                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <select multiple>
                                    <option>HTML/CSS</option>
                                    <option>PHOTOSHOP</option>
                                    <option>ASP.NET</option>
                                    <option>MS-OFFICE</option>
                                    <option>BASIC INTERNET</option>
                                    <option>EBOOK</option>
                                    <option>HTML/CSS</option>
                                    <option>PHOTOSHOP</option>
                                    <option>ASP.NET</option>
                                    <option>MS-OFFICE</option>
                                    <option>BASIC INTERNET</option>
                                    <option>EBOOK</option>

                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-actions">
                            <input type="button" onclick="myFun()" value="SAVE" class="btn btn-success">

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>




<script>
    function myFun() {
        document.getElementById("myform").reset();
        alert("Save Success");
    }
</script>




