
@{
    ViewBag.Title = "UserCourses";

}


<div ng-controller="courseController">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">User Course </li>
        </ol>

        <div class="row">
            <div class="col-12">

                <H1 style="color:#868e96; font-weight:bold;">User Courses</H1>
                <br />
                <label> STUDENTS NAME: </label>
                <select id="selectedStudents" ng-model="selectedStudents" class="selectpicker col-3">



                    <option ng-repeat="x in getAllStudents" value="{{x.Id}}">{{x.Username}}</option>


                </select>
                <br />


                <div class="widget-box">
                    <div class="widget-title">

                        <h5 >COURSE NAME</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form id="myform"  class="form-horizontal">

                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedCourses" id="selectedCourses" multiple>
                                        <option ng-repeat="x in getAllCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="InsertUserCourses()" value="SAVE" class="btn btn-success">

                            </div>

                            <br />
                            
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>
                            <br />
                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#868e96; font-weight:bold;"> User-Courses </span> Table
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered  table-striped" cellspacing="0">
                                            <thead class="table-info">
                                                <tr>
                                                    <th>STUDENTS NAME</th>
                                                    <th>COURSE NAME</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>Tiger Nixon</td>


                                                </tr>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>Tiger Nixon</td>

                                                </tr>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>Tiger Nixon</td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <br />


            




                </div>
            </div>

        </div>

    </div>
</div>



   




