
@{
    ViewBag.Title = "CompanyEmployees";
    Layout = "~/Views/Shared/Timesheet_Layout.cshtml";
}


    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <section class="content-header sty-one">
            <h1>Dashboard</h1>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home</a></li>
                <li><i class="fa fa-angle-right"></i> Company Employees</li>
            </ol>
        </section>
        


        <form id="myform" class="form-horizontal">
            <div class="row">
                <div class="col-12">

                    <H1 style="color:rgb(53, 53, 53); font-weight:bold;">Company Employees</H1>
                    <br />
                    <label> COMPANY NAME: </label>

                    <select  id="selectedCompany" ng-model="selectedCompany" class="selectpicker col-3">

                     

                        <option ng-repeat="x in Obj_getCompany" value="{{x.CompanyId}}">{{x.CompanyName}}</option>


                    </select>
                    <br />
                    <br />

                    <div class="widget-box">
                        <div class="widget-title">

                            <h5> EMPLOYEES NAME: </h5>
                        </div>
                        <div class="widget-content nopadding">


                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedEmployees" id="selectedEmployees" multiple>
                                        <option ng-repeat="x in Obj_getEmployees" value="{{x.Id}}">{{x.Username}}</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="AddCompanyEmployees()" value="SAVE" class="btn btn-outline-primary">

                            </div>
                            <br />
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>


                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#000000; font-weight:bold;"> COMPANY-EMPLOYEES </span> 
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered table-striped" cellspacing="0">
                                            <thead class="table-info">
                                                <tr>
                                                    @*<th>COURSE ID</th>*@
                                                    <th style="color:#000000;">COMPANY NAME</th>
                                                    @*<th>MODULE ID</th>*@
                                                    <th style="color:#000000;">EMPLOYEE USERNAME</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in Obj_getCompanyEmployees">

                                                    @*<td>{{x.CourseId}}</td>*@
                                                    <td>{{x.CompanyName}}</td>
                                                    @*<td>{{x.GetModuleId}}</td>*@
                                                    <td>{{x.UserName}}</td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                     


                      

                    </div>
                </div>

            </div>
        </form>

   

  

    </div>




   




