@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Timesheet_Layout.cshtml";
}
@using Microsoft.AspNet.Identity


<section class="content-header sty-one">
    <h1>Dashboard</h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li><i class="fa fa-angle-right"></i> Dashboard</li>
    </ol>
</section>
<div class="container-fluid">
    
        <!-- Breadcrumbs-->
        @*<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>*@
        <!-- Icon Cards-->
   
        @if (Request.IsAuthenticated)
        {
            <input type="hidden" id="UserName" value="@User.Identity.GetUserName()">
           

                @*<video controls="controls" height="480" width="640">
                            <source src="https://dl.dropboxusercontent.com/content_link/K30mptXJTiyxnRKtQjgvgZTSXpVXoDM8wAprimiuwTd0XnZ1MWIgfM1RSyewnbCD/file?dl=1"  type="video/mp4"/>
                        </video>

                    <iframe src="https://dl.dropboxusercontent.com/content_link/K30mptXJTiyxnRKtQjgvgZTSXpVXoDM8wAprimiuwTd0XnZ1MWIgfM1RSyewnbCD/file?dl=1">
                            <p>Your browser does not support iframes.</p>
                        </iframe>*@
                <!--style = "display: none;" -->
              
                <p  ng-show="isStudent" class="lead" style="font-size:27px; font-weight:normal;color:black">
                    Welcome To Time Sheet Project...</p>




              


                    <div ng-show="isAdmin" class="info-box">
                        <div class="col-12">
                            <h4 class="text-black">Submitted TimeSheet Period List</h4>
                        </div>

                        <hr />
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-hover col-12 ">
                                <thead>
                                    <tr>
                                        <th style="padding: 8px;">Periods</th>
                                        @*<th>Period Type</th>*@
                                        <th style="padding: 8px;">Duration</th>
                                        <th style="padding: 8px;">Total Hours</th>
                                        <th style="padding: 8px;">Submitted On</th>
                                        @*<th>Approved On</th>
                                            <th>Rejected On</th>*@
                                        <th style="padding: 8px;">Status</th>
                                        <th style="padding: 8px;">View Sheet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in Obj_GetSubmittedTimeSheets">
                                        <td style="text-align: center;">{{x.TimePeriods}}</td>
                                        @*<td>
                                                Internet
                                                Explorer 4.0
                                            </td>*@
                                        <td style="text-align: center;">{{x.duration}}</td>
                                        <td style="text-align: center;">{{x.Hours}}</td>
                                        <td style="text-align: center;"><span ng-show="x.SubmittedDate == '0001-01-01T00:00:00'">--</span><span ng-show="x.SubmittedDate != '0001-01-01T00:00:00'">{{x.SubmittedDate | date : "M/d/yyyy"}}</span></td>
                                        @*<td>
                                                Internet
                                                Explorer 4.0
                                            </td>
                                            <td></td>*@
                                        <td style="padding: 10px 10px 10px 10px;text-align: center;"><span ng-show="x.Status == 'Not Submitted'" class="label label-warning">{{x.Status}}</span> <span ng-show="x.Status == 'Submitted'" class="label label-primary">{{x.Status}}</span></td>
                                        <td style="text-align: center;">

                                            <span><a style="text-align:center;" href="/home/viewtimesheet/{{x.TimePeriodId}}?username={{x.UserName}}"> <i style="color:black" class="fa fa-window-maximize"></i> View Time-Sheet</a></span>
                                            @*<div class="btn-group pull-right open">
                                                    <button type="button" class="btn default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="font-size:13px;">
                                                        <i class="fa fa-cog"></i> Options
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" style="margin-left: -52px;margin-top: 23px;">
                                                        <li><a style="padding: 8px 16px;" href="/home/TimeEntryPeriod2/{{x.TimePeriodId}}">View Time-Sheet</a></li>
                                                        <li><a style="padding: 8px 16px;" href="#">View Attachment</a></li>

                                                    </ul>
                                                </div>*@
                                        </td>
                                    </tr>



                                </tbody>
                                @*<tfoot>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                    </div>




                <div ng-show="isStudent" class="info-box">
                    <div class="col-12">
                        <h4 class="text-black">TimeSheet Period List <button style="float:right" ng-click="addTimePriods()" type="button" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add TimeSheet</button></h4>
                    </div>

                    <hr />
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-hover col-12 ">
                            <thead>
                                <tr>
                                    <th style="padding: 8px;">Periods</th>
                                    @*<th>Period Type</th>*@
                                    <th style="padding: 8px;">Duration</th>
                                    <th style="padding: 8px;">Total Hours</th>
                                    <th style="padding: 8px;">Submitted On</th>
                                    @*<th>Approved On</th>
                                        <th>Rejected On</th>*@
                                    <th style="padding: 8px;">Status</th>
                                    <th style="padding: 8px;">View Sheet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in Obj_getTimePeriods">
                                    <td style="text-align: center;">{{x.TimePeriods}}</td>
                                    @*<td>
                                            Internet
                                            Explorer 4.0
                                        </td>*@
                                    <td style="text-align: center;">{{x.duration}}</td>
                                    <td style="text-align: center;">{{x.Hours}}</td>
                                    <td style="text-align: center;"><span ng-show="x.SubmittedDate == '0001-01-01T00:00:00'">--</span><span ng-show="x.SubmittedDate != '0001-01-01T00:00:00'">{{x.SubmittedDate | date : "M/d/yyyy"}}</span></td>
                                    @*<td>
                                            Internet
                                            Explorer 4.0
                                        </td>
                                        <td></td>*@
                                    <td style="padding: 10px 10px 10px 10px;text-align: center;"><span ng-show="x.Status == 'Not Submitted'" class="label label-warning">{{x.Status}}</span> <span ng-show="x.Status == 'Submitted'" class="label label-primary">{{x.Status}}</span></td>
                                    <td style="text-align: center;">

                                        <span><a style="text-align:center;" href="/home/TimeEntryPeriod2/{{x.TimePeriodId}}"> <i style="color:black" class="fa fa-window-maximize"></i> View Time-Sheet</a></span>
                                        @*<div class="btn-group pull-right open">
                                                <button type="button" class="btn default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="font-size:13px;">
                                                    <i class="fa fa-cog"></i> Options
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" style="margin-left: -52px;margin-top: 23px;">
                                                    <li><a style="padding: 8px 16px;" href="/home/TimeEntryPeriod2/{{x.TimePeriodId}}">View Time-Sheet</a></li>
                                                    <li><a style="padding: 8px 16px;" href="#">View Attachment</a></li>

                                                </ul>
                                            </div>*@
                                    </td>
                                </tr>



                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
        }

        else
        {

            <h1>You need to be logged in to View your courses</h1>
        }

    <script type="text/ng-template" id="addTimePriods.html">

        <div class="modal-header">

            <h4 class="modal-title">{{modalTitle}}</h4>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" name="client">
                <div class="col-12">


                    <div class="col-sm-12">

                        <label>Start Date:</label>
                        <input type="date" name="datefilter" id="config-demo" ng-model="startdate" class="form-control" />

                    </div>
                    <br />
                    <div class="col-sm-12">

                        <label>End Date:</label>
                        <input ng-model="enddate" type="date" class="form-control" />

                    </div>
                    <br />
                    <div class="alert alert-success alert-block" ng-show="isSuccess">

                        <h6 class="alert-heading">{{successMessage}}</h6>
                    </div>
                    <div class="alert alert-danger alert-block" ng-show="isError">
                        <h6 class="alert-heading">{{errormessage}}</h6>
                    </div>




                </div>

            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="AddTimePeriods()">Add</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>

</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->


