
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/Timesheet_Layout.cshtml";
}


    <!-- Content Header (Page header) -->
    <section class="content-header sty-one">
        <h1 class="text-black">Reports</h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><i class="fa fa-angle-right"></i> Reports</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        This is some text Reports Content.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

