@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="user-header ">
          
            <li style="font-size:medium;">

                @Html.ActionLink("" + User.Identity.GetUserName() + "!", "Index", "", routeValues: null, htmlAttributes: new { title = "", style = "color: black;" })
            </li>

            <li style="font-size:medium;"><a href="javascript:document.getElementById('logoutForm').submit()" style="color:black;"> &nbsp; @*&nbsp; <i class="fa fa-sign-out" style="font-size:x-large"></i>*@ Log Out </a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@*<style>
    a:link, a:visited, a:active, a:link {
        color: cadetblue;
    }
</style>*@
